<launch>
  <!-- 定義bag_file參數，並設置預設值 -->
  <arg name="bag_file" default="/home/icalab/loam/src/yrl_to_cloud/bag/2023-08-11-15-48-36.bag"/>

  <!-- 播放bag檔案 -->
  <node name="play_bag" pkg="rosbag" type="play" args="-l $(arg bag_file)"/>

  <!-- 執行Python腳本 -->
  <node name="save_files" pkg="yrl_to_cloud" type="save_file.py" output="screen"/>
</launch>